:root {
    --background: #1f1e1e;
    padding: 5rem;
}

* {
    position: relative;
}

html {
    background-color: var(--background);
    color: #c2baba;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}

input[type=file]::file-selector-button {
    background-color: #555151;
    color: #c2baba;
    border: 4;
    border-radius: 4px;
    border-style: solid;
}

button {
    opacity: 0;
    pointer-events: none;
    background-color: #555151;
    color: #c2baba;
    border: 4;
    border-radius: 4px;
    border-style: solid;
}

.copy_button {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.08s ease-out;
}

.copy_button:hover {
    transform: scale(1.1);
}

.copy_button:active {
    transform: scale(1);
    background: #4E4E4E;
    transition: 0.02s ease-out;
}

ul {
    list-style-type: none;
    border-left: 1px solid #2B2A2A;
    height: 100%;
    max-height: fit-content;
    transition: all 0.02s, height 0.4s;
}

ul>* {
    transition: transform 1s;
}

li {
    overflow: hidden;
    margin-block: 2px;
}

.ul_hover {
    background: #1A1919;
}

.caret {
    position: sticky;
    top: 0;
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
    color: color-mix(in srgb, white 90%, black 10%);
    transform-origin: center;
    transform: rotate(90deg);
    transition: 0.03s ease-out;
}

.flipped.caret::before {
    transform: rotate(0deg);
}

:not(.flipped).caret::before {
    color: color-mix(in srgb, white 50%, black 50%);
}

.caret-down::before {
    transform: rotate(90deg);
}

.header {
    color: #728695;
}

.brackets {
    color: #46b58d;
}

.dropdown-header {
    color: #7179a3;
}

.dropdown-brackets {
    color: #509bfb;
}

#full_tree_view {
    border: none;
    padding: 10px 0;
    overflow: auto;
    height: 100%;
}
